.header {
    background-color: lightblue;
    font-size: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #152536;
    font-weight: 600;
}

.icon {
    margin-right: 100; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: yellow;
    color: black;  
    display: flex;   
    align-items: center;
    justify-content: center;
}
#ValorConvertido {
    text-align: center;
    margin-top: 50px;
    display: block;
}
.caixinha {
    min-width: 300px;
    height: 500px;
    border: 5px solid gray;
    padding: 80px;
    align-content: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}