
.pageconteiner {
    width: 100vw;
    height: 100vh;
    position: relative;
   
   
}

.caixinha {
    width: 800px;
    height: 500px;
    border: 5px solid gray;
    padding: 80px;
    align-content: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

#ValorConvertido {
    text-align: center;
}
